<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task list</title>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <section class="container">
        <h1>
            <%=title%>
        </h1>
        <% if (locals.routeName) { %>
        <form class="form" action="/<%=routeName%>" method="POST">
            <input type="text" name="todo" placeholder="Write a task to do.">
            <button class="okBtn" type="submit">OK</button>
        </form>
        <% } else { %>
        <form class="form" action="/" method="POST">
            <input type="text" name="todo" placeholder="Write a task to do.">
            <button class="okBtn" type="submit">OK</button>
        </form>
        <% } %>
        <% if (locals.errorMsg) { %>
            <small class="errorMsg"><%= errorMsg %></small>
        <% } %>
        <div class="listContainer">
            <ul class="list">
                <% toDos.map( (todo, index) => { %>

                    <li class="listItem">

                        > <%= todo %>

                        <div class="btnContainers">
                            <% if (locals.routeName) { %>
                            <a class="taskBtn checkBtn" href="/<%=routeName%>/check?index=<%=index%>">✓</a>
                            <a class="taskBtn deleteBtn" href="/<%=routeName%>/delete?index=<%=index%>">X</a>
                            <% } else { %>
                            <a class="taskBtn checkBtn" href="/check?index=<%=index%>">✓</a>
                            <a class="taskBtn deleteBtn" href="/delete?index=<%=index%>">X</a>
                            <% } %>
                        </div>

                    </li>
                <% }) %>
            </ul>
        </div>
        <% if (locals["checkedTask"].length > 0) { %>
        <ul class="doneList">
            <% locals.checkedTask.map( (task, index) => { %>
                <li>
                    <p class="doneTask">
                        > <%= task %>
                    </p>
                    <% if (locals.routeName) { %>
                        <div class="btnContainers">
                            <a class="taskBtn deleteBtn" href="/<%=routeName%>/checked/<%=index%>">X</a>
                        </div>
                    <% } else { %>
                        <div class="btnContainers">
                            <a class="taskBtn deleteBtn" href="/<%routeName%>/checked/<%=index%>">X</a>
                        </div>
                    <% } %>
                </li>
        <% }) %>
        </ul>
        <% } %>
         
    </section>
</body>
</html> 