<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task list</title>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <section class="container">
        <form class="form" action="/" method="POST">
            <input type="text" name="todo" placeholder="Write a task to do.">
            <button class="okBtn" type="submit">OK</button>
        </form>
        <% if (locals.errorMsg) { %>
            <small class="errorMsg"><%= errorMsg %></small>
        <% } %>
        <div class="listContainer">
            <ul class="list">
                <% toDos.map( (todo, index) => { %>
                    <li class="listItem">
                        > <%= todo %>
                        <div class="btnContainers">
                            <a class="checkBtn" href="/check?index=<%=index%>">✓</a>
                            <a class="deleteBtn" href="/delete?index=<%=index%>">X</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <% if (locals["checkedTask"].length > 0) { %>
        <ul>
            <% checkedTask.map( (task, index) => { %>
                <li class="doneTask">
                    > <%= task %>
                    <a class="doneDeleteBtn" href="/delete/checked?index=<%=index%>">X</a>
                </li>
        <% }) %>
        </ul>
        <% } %>
         
    </section>
</body>
</html> 